<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
            <h2>Your email was recorded successfully. You will get notified
                of future form signups.</h2>
            <a href="/" class="btn btn-primary btn-lg">Home Page</a>
        </div>
    </div>
</div>
